{%- include baseurl.html -%}
{% capture navlist %}
                {% for section in site.hierarchy %}
                {% assign parent = page.url | split: '/' | slice: 0,3 | join: '/' %}
                {% assign parenttitle = page.title %}
                {% unless parent contains ".html" %}
                    {% assign parent = parent | append: '.html' %}
                {% endunless %}
                {% assign filteredsection = section.children | where: 'url', parent %}
                {% assign splittitle = section.title | split: ' ' %}
                {% assign currentsection = filteredsection.size > 0 %}
                {% if currentsection %}{% assign sectionname = section.title %}{% endif %}
                <li{% if currentsection %} class="open"{% endif %}>
                    <div style="background-color: {{ section.color }}" tabindex=0>{{ section.title }}</div>
                    <ul style="background-color: {{ section.color }}">
                        {% for case in section.children %}
                        {% assign fullurl = parent %}
                        <li{% if case.url == fullurl %}{% assign casename = case.page %} style="background-color:{{ section.dkcolor }};"{% endif %}>
                            <a href="{{ base }}{{ case.url }}"{% if case.url == fullurl %} class="active"{% endif %}>{{ case.page }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
{% endcapture %}
        <div id="breadcrumb">
            <a href="#nav" id="shownavbutton">Open Navigation</a>
        </div>
        <nav id="nav" class="leftnav">
            {% include modal_close.html %}
            <ul class="sticky">
                {{ navlist }}
            </ul>
        </nav>
        <script>
            navheaders = document.querySelectorAll(".leftnav>ul>li>div")
            for (var i=0;i<navheaders.length;i++) {
              navheaders[i].addEventListener("click", e => {
                  lmnt = e.target;
                  navsections = lmnt.parentElement.parentElement.children;
                  for (var i=0;i<navsections.length;i++) {
                    navsections[i].classList.remove("open");
                  }
                  lmnt.parentElement.classList.add("open");
              });
            }
        </script>
