---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: false
---
    <main>
        {% include item/leftnav.html %}
        {% for section in site.hierarchy %}
            {% for case in section.children %}
                {% assign parentcase = page.caseid | string | strip %}
                {% assign caseid = case.caseid | string | strip %}
                {% if parentcase == caseid %}
                    {% assign bg = section.dkcolor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <section id="item" style="background-color:{{ bg }}">
            <a href="#zoom" class="imgwrapper">
                <img
                  src="{{ base }}{{ page.itemimage }}"
                  alt="{{ page.image_alt_text | default: page.description | default: page.title | escape }}"
                  class="img-fluid"
                >
            </a>
            <details id="itemdescription">
                <summary>
                    <h2>{{ page.title }}</h2>
                </summary>
                <p>
                    {{ page.description }}
                </p>
            </details>
            <a href="{{ base }}{{ page.previous_item }}" class="nextprev" id="prev">&#8249;</a>
            <a href="{{ base }}{{ page.next_item }}" class="nextprev" id="next">&#8250;</a>
        <div class="modalcontainer" id="zoom">
            <div class="zoommodal">
                    <img
                      src="{{ base }}{{ page.itemimage }}"
                      alt="{{ page.image_alt_text | default: page.description | default: page.title | escape }}"
                    />
                    {% include modal_close.html %}
            </div>
        </div>
        </section>
    </main>
