---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: false
---
    <main class="item">
        <section id="itemdescription">
            <a href="../{{ page.case }}">Back to case</a>
            {% include item/breadcrumbs.html %}
            <h2>{{ page.title }}</h2>
            <p>
                {{ page.description }}
            </p>
        </section>
        <div class="imgwrapper">
            <img src="{{ page.itemimage | relative_url }}" alt="{{ page.image_alt_text | default: page.description | default: page.title | escape }}" class="img-fluid">
        </div>
    </main>
