<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
    <title>Fashioning Insurrection | {{page.title}}</title>
    {%- include baseurl.html -%}
    <link rel="stylesheet" href="{{ base }}/style.css" media="all">
    <link rel="stylesheet" href="https://use.typekit.net/pyd2dme.css">
    <style>
      @font-face {
        font-family: "Eyja";
        src: url("{{ base }}/fonts/EyjaRegular.woff2") format('woff');
      }
    </style>
  </head>
