---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: false
---
    <main>
    {%- include item/leftnav.html -%}
    {%- assign spliturl = page.url | split: '/' -%}
    {%- assign section = spliturl[1] -%}
    {%- case section -%}
        {%- when "greece" -%}
            {%- assign color="greek" -%}
        {%- when "algeria" -%}
            {%- assign color="algerian" -%}
        {%- when "india" -%}
            {%- assign color="indian" -%}
    {%- endcase -%}
    <section style="background-color:rgb(var(--dk{{color}}color));">
        <h2 style="background-color:rgb(var(--dk{{color}}color));">{{ page.title }}</h2>
        <div id="casedescription">
            <p>
                {{ content }}
            </p>
        </div>
        {%- assign items = site.data[site.metadata] | where_exp: 'item',"item.objectid and item.caseid==page.case-id" -%}
        {% for item in items %}
            <a href="{{ item.objectid }}/"><img src="{{ base }}{{ item.itemimage }}" alt="{{ item.image_alt_text }}"></a>
        {% endfor %}
        </section>
    </main>
