---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: false
---
    <main>
    {%- include item/leftnav.html -%}
    {%- include baseurl.html -%}
    {% for section in site.hierarchy %}
        {% for case in section.children %}
            {% assign parentcase = page.case-id | string | strip %}
            {% assign caseid = case.caseid | string | strip %}
            {% if parentcase == caseid %}
                {% assign bg = section.dkcolor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    <section id="case" style="background-color: {{ bg }} ;">
        <h2 style="background-color: {{ bg }};">{{ page.title }}</h2>
        <div id="casedescription">
            <p>
                {{ content }}
            </p>
        </div>
        {%- assign items = site.data[site.metadata] | where_exp: 'item',"item.objectid and item.caseid==page.case-id" -%}
        {% for item in items %}
            <a href="{{ item.objectid }}/"><img src="{{ base }}{{ item.itemimage }}" alt="{{ item.image_alt_text }}"></a>
        {% endfor %}
        </section>
    </main>
