---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: false
---
    <main>
        {% include item/leftnav.html %}
        {% assign srcsetimg = page.itemimage %}
        {% include imgsrcset.html %}
        {% for section in site.hierarchy %}
            {% for case in section.children %}
                {% assign parentcase = page.caseid | string | strip %}
                {% assign caseid = case.caseid | string | strip %}
                {% if parentcase == caseid %}
                    {% assign bg = section.dkcolor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <section id="item" style="background-color:{{ bg }}">
            <div class="imgbox">
                <div class="imgwrapper"> 
                <a href="#zoom" >
                    <img
                      srcset="{{ srcset }}"
                      sizes="(width > 900px) 70vw, (width <= 900px) 100vw"
                      alt="{{ page.image_alt_text | default: page.description | default: page.title | escape }}"
                      class="img-fluid"
                    />
                </a>
                  {% if page.boxes %}
                    {% assign boxes = page.boxes | split: "|" %}
                    {% for boxstring in boxes %}
                      {% assign box = boxstring | split: ':' %}
                      {% assign coords = box | first | split: ',' %}
                      {% assign top = coords | first %}
                      {% assign left = coords[1] %}
                      {% assign bottomnum = coords[2] | remove: "%" %}
                      {% assign bottom = 100 | minus: bottomnum | append: "%" %}
                      {% assign rightnum = coords[3] | remove: "%"%}
                      {% assign right = 100 | minus: rightnum | append: "%" %}
                      {% assign img = box[1] %}
                      {% assign anchor = box[2] %}
                      <a
                        href="#{{ anchor }}"
                        class="hotbox"
                        style="top:{{ top }}; left:{{ left }}; bottom:{{ bottom }}; right:{{ right }};"
                      >
                        <div></div>
                      </a>
                      {% assign zoommodalimg = img %}
                      {% assign zoommodalid = anchor %}
                      {% include zoommodal.html %}
                    {% endfor %}
                  {% endif %}
                  {% if page.hotspots %}
                    {% assign hotspots = page.hotspots | split: "|" %}
                    {% for fullhotspot in hotspots %}
                      {% assign hotspot = fullhotspot | split: ':' %}
                      {% assign coords = hotspot | first | split: ',' %}
                      {% assign top = coords | first %}
                      {% assign left = coords | last %}
                      {% assign img = hotspot[1] %}
                      {% assign anchor = hotspot[2] %}
                      <a
                        href="#{{ anchor }}"
                        class="hotspot"
                        style="top:{{ top }}; left:{{ left }};"
                      >
                        <div></div>
                      </a>
                      {% assign zoommodalimg = img %}
                      {% assign zoommodalid = anchor %}
                      {% include zoommodal.html %}
                    {% endfor %}
                  {% endif %}
                </div>
            </div>
            <div id="itemdescbox">
                <details >
                    <summary>
                        <h2>{{ page.title }}
                        {% if page.orig_link %} <a
                          href="{{ page.orig_link }}"
                          id="#topleveloriglink"
                          target="_blank"
                        >View original record</a>{% endif %}
                        </h2>
                    </summary>
                    <div id="itemdesc">
                        <p>
                            {{ page.attr | newline_to_br }}
                        </p>
                        <br>
                        <p>
                            {{ page.description }}
                        </p>
                    </div>
                </details>
            </div>
            <a href="{{ base }}{{ page.prev_url }}" class="nextprev" id="prev">&#8249;</a>
            <a href="{{ base }}{{ page.next_url }}" class="nextprev" id="next">&#8250;</a>
            {% capture zoommodallinks %}
                {% if page.orig_link %}
                        <a href="{{ page.orig_link }}" class="original_link" target="_blank"
                        >View original record</a>
                {% endif %}
            {% endcapture %}
            {% assign zoommodalimg = page.itemimage %}
            {% assign zoommodalid = "zoom" %}
            {% if page.extra_zoom %}{% assign zoommodalextra = true %}{% else %}{% assign zoommodalextra = false %}{% endif %}
            {% include zoommodal.html %}
        </section>
    </main>
