---
# base layout for other item display_template layouts
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: false
---
    <main>
        {% include item/leftnav.html %}
        {% include imgsrcset.html %}
        {% for section in site.hierarchy %}
            {% for case in section.children %}
                {% assign parentcase = page.caseid | string | strip %}
                {% assign caseid = case.caseid | string | strip %}
                {% if parentcase == caseid %}
                    {% assign bg = section.dkcolor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <section id="item" style="background-color:{{ bg }}">
            <a href="#zoom" class="imgwrapper">
                <img
                  srcset="{{ srcset }}"
                  sizes="50vw"
                  alt="{{ page.image_alt_text | default: page.description | default: page.title | escape }}"
                  class="img-fluid"
                >
            </a>
            <div id="itemdescbox">
                <details >
                    <summary>
                        <h2>{{ page.title }}</h2>
                    </summary>
                    <div id="itemdesc">
                        <p>
                            {{ page.attr | newline_to_br }}
                        </p>
                        <br>
                        <p>
                            {{ page.description }}
                        </p>
                    </div>
                </details>
            </div>
            <a href="{{ base }}{{ page.prev_url }}" class="nextprev" id="prev">&#8249;</a>
            <a href="{{ base }}{{ page.next_url }}" class="nextprev" id="next">&#8250;</a>
        <div class="modalcontainer" id="zoom">
            <div class="zoommodal">
                    <img
                      srcset="{{ srcset }}"
                      sizes="200vw"
                      loading="lazy"
                      alt="{{ page.image_alt_text | default: page.description | default: page.title | escape }}"
                    />
                    <div id="zoomlinkbox">
                        <a href="" style="background: var(--whitebg);
                            color: var(--darkerblue);
                            font-family: var(--headerfonts);
                            padding: 5px;
                            text-decoration: none;
                            border-radius: 0.4em;
                            font-size: 0.8em;
                            margin-inline-end: 0.5em;"
                        >View original</a>
                        {% include modal_close.html %}
                    </div>
            </div>
        </div>
        </section>
    </main>
